<div class="box">
    <div class="box-header">
        <h3 class="box-title">Parámetros de Búsqueda</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-8">
                <select class="form-control" ng-model="itemSelected" style="margin-bottom: 1em">
                    <option value="tienda">TIENDA</option>
                    <option value="nombre">NOMBRE DEL PREVENCIONISTA</option>
                    <option value="dni">DNI DEL PREVENCIONISTA</option>
                    <option value="fecha">FECHA</option>
                </select>
            </div>
            <div class="col-xs-4">
                <button ng-click="toggleItemSearch()" class="btn btn-danger">Agregar/Quitar</button>
            </div>
        </div>

        <form name="nameFormConsulta" ng-submit="consultar()">
            <div class="row" ng-if="itemSearch.tienda">
                <div class="col-sm-1 col-xs-2">
                    <label>Tienda:</label>
                </div>
                <div  class="col-sm-3 col-xs-7" style="margin-bottom: 1em">
                    <select class="form-control" ng-model="termSearch.tienda" required
                            ng-options="ti.nombreTienda for ti in tiendas track by ti.idTienda">
                        <option value="">-Seleccione-</option>
                    </select>
                </div>
            </div>

            <div class="row" ng-if="itemSearch.nombre">
                <div class="col-sm-1 col-xs-2">
                    <label>Nombre:</label>
                </div>
                <div class="col-sm-3 col-xs-7" style="margin-bottom: 1em">
                    <input type="text" ng-model="termSearch.nombre"
                           class="form-control" placeholder="Nombre Prevencionista">
                </div>
            </div>

            <div class="row" ng-if="itemSearch.dni">
                <div class="col-sm-1 col-xs-2">
                    <label>DNI:</label>
                </div>
                <div class="col-sm-3 col-xs-7" style="margin-bottom: 1em">
                    <input  type="text" ng-model="termSearch.dni" class="form-control" placeholder="Ingrese DNI">
                </div>
            </div>


            <div class="row" ng-if="itemSearch.fecha">
                <div class="col-sm-1 col-xs-2">
                    <label>Rango Fecha:</label>
                </div>
                <div class="col-sm-3 col-xs-7" style="margin-bottom: 1em">
                    <input type="datetime-local" ng-model="termSearch.fechaInicial" class="form-control" style="margin-bottom: 1em" required/>
                    <input type="datetime-local" ng-model="termSearch.fechaFinal" class="form-control" style="margin-bottom: 1em" required/>
                    <!--<button id="id-buscar-rango-fecha" class="btn btn-primary">Buscar</button>-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary animated infinite pulse" type="submit" 
                            ng-disabled='!nameFormConsulta.$valid'>Consultar</button>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-book"></i> 
        <h3 class="box-title">Control de Productos No Sensomatizados</h3>
    </div>
    <div class="box-body table-responsive">
        <div class="alert alert-info" style="padding: 3px" ng-show="isLoadData">
            <i class="fa fa-refresh fa-spin"></i>
            <spam> &nbsp;&nbsp; Cargando....</spam>                                        
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tienda</th>
                        <th>Prevencionista</th>
                        <th>Dni</th>
                        <th>Fecha</th>
                        <th>Codigo</th>
                        <th>Descripción</th>
                        <th>Marca</th>
                        <th style="text-align: right">Cantidad</th>
                        <th style="text-align: right">Precio/Unid</th>
                        <th style="text-align: right">Total</th>
                        <th>Observaciones</th>
                        <th style="text-align: center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producto in currentProductosNoSensomatizados">
                        <td>{{producto.tienda}}</td>
                        <td>{{producto.prevencionista}}</td>
                        <td>{{producto.dni}}</td>
                        <td>{{producto.fecha}}</td>
                        <td>{{producto.codigo}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.marca}}</td>
                        <td style="text-align: right">{{producto.cantidad}}</td>
                        <td style="text-align: right">{{producto.precio| currency:"S/. "}}</td>
                        <td style="text-align: right">{{producto.total| currency:"S/. "}}</td>
                        <td>{{producto.observaciones}}</td>
                        <td style="text-align: center">
                            <button class="btn btn-info btn-xs" ng-click="showModalDetalle(producto)">
                                Foto
                            </button>
                            <button class="btn btn-primary btn-xs" ng-click="actualizarProducto(producto)">
                                Actualizar
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="eliminarProducto(producto.id)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <label class="label label-warning" ng-if="currentProductosNoSensomatizados.length == 0">0 Productos Registrados</label>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="imeco-right">
            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" 
                        max-size="maxSize" ng-change="pageChanged()"
                        class="pagination-sm" items-per-page = "10"
                        boundary-links="true" rotate="false">
            </pagination>
        </div>
    </div>
</div>
