<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Admin></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../resources/theme/admin.lte.css"/>
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" 
                            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="btn-group" dropdown>
                            <a type="button" class="dropdown-toggle" dropdown-toggle>
                                Button<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-users"></i> 
                    <h3 class="box-title">Enlaces de Interés</h3>
                </div>
                <div class="box-body">
                    dfsdfds
                </div>
            </div>

            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-primary">Primary</a>
            <a href="#" class="btn btn-danger">Pri</a>
            <a href="#" class="btn btn-warning">Primary</a>
            <a href="#" class="btn btn-success">Primary</a>

            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>



        </div>

        <div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container app">
            <h1>Editor</h1>
            <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'>
            </div>
            <div ta-bind="text" ng-model="htmlcontent" ta-readonly='disabled'></div>
        </div>

        <script src="../resources/angular/angular-1.2.js"></script>
        <script src="../resources/angular/ui-bootstrap-tpls-0.12.0.js"></script>
        <script src="../resources/angular/angular-ui-router.min.js"></script>
        <script src="../resources/angular/angular-resource.min.js"></script>
        <script src="../resources/angular/texteditor/textAngular-sanitize.min.js"></script>
        <script src="../resources/angular/texteditor/textAngular.min.js"></script>  
        <script>
                angular.module("textAngularTest", ['textAngular']);
                function wysiwygeditor($scope) {
                    $scope.orightml = '<h2>Try me!</h2><p>textAngular is a super cool WYSIWYG Text Editor directive for AngularJS</p><p><img class="ta-insert-video" ta-insert-video="http://www.youtube.com/embed/2maA1-mvicY" src="" allowfullscreen="true" width="300" frameborder="0" height="250"/></p><p><b>Features:</b></p><ol><li>Automatic Seamless Two-Way-Binding</li><li>Super Easy <b>Theming</b> Options</li><li style="color: green;">Simple Editor Instance Creation</li><li>Safely Parses Html for Custom Toolbar Icons</li><li class="text-danger">Doesn&apos;t Use an iFrame</li><li>Works with Firefox, Chrome, and IE8+</li></ol><p><b>Code at GitHub:</b> <a href="https://github.com/fraywing/textAngular">Here</a> </p><h4>Supports non-latin Characters</h4>';
                    $scope.htmlcontent = $scope.orightml;
                    $scope.disabled = false;
                }
        </script>
    </body>
</html>
