<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"
            data-dismiss="modal" aria-hidden="true">&times;
    </button>
    <h4>Intervención Seleccionada</h4>
</div>
<div class="modal-body"> 
    <div class="box box-danger">
        <div class="box-header">
            <i class="fa fa-users"></i> 
            <h3 class="box-title">Información del Tendero</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-8">
                    <div>
                        <label>DNI: &nbsp;&nbsp;</label>
                        <label style="color: #3c8dbc;font-size: 1.2em">{{intervencionSelect.dniTendero}}</label>
                    </div>
                    <div>
                        <label>Nombre: &nbsp;&nbsp;</label>
                        <label style="color: #3c8dbc;font-size: 1.2em">{{intervencionSelect.nombreCompletoTendero}}</label>
                    </div>
                    <div>
                        <label>Tipo de Tendero: &nbsp;&nbsp;</label>
                        <label style="color: #3c8dbc;font-size: 1.2em">{{intervencionSelect.tipoTendero}}</label>
                    </div>
                    <div>
                        <label>Edad: &nbsp;&nbsp;</label>
                        <label style="color: #3c8dbc;font-size: 1.2em">{{intervencionSelect.edadTendero}}</label>
                    </div>
                    <div>
                        <label>Sexo: &nbsp;&nbsp;</label>
                        <label style="color: #3c8dbc;font-size: 1.2em">{{intervencionSelect.sexoTendero}}</label>
                    </div>
                </div>

                <div class="col-xs-4" style="text-align: center">
                    <img ng-src="view/imagen_tendero/{{intervencionSelect.idTendero}}.jpg?random={{mirandom}}" 
                         width="140" height="140" class="img-rounded">
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-users"></i> 
            <h3 class="box-title">Detalle de Productos</h3>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Marca</th>
                        <th style="text-align: right">Cantidad</th>
                        <th style="text-align: right">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detalle in detalleIntervencion">
                        <td>{{detalle.codigo}}</td>
                        <td>{{detalle.descripcion}}</td>
                        <td>{{detalle.marca}}</td>
                        <td style="text-align: right">{{detalle.cantidad}}</td>
                        <td style="text-align: right">{{detalle.precio | currency:'S/. '}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer" style="text-align: right">
            <label>Total:&nbsp;&nbsp;&nbsp; </label>
            <label style="font-size: 1.5em" class="label label-info">
                {{intervencionSelect.totalRecuperado | currency:'S/. '}}
            </label>
        </div>        
    </div>
</div>




