<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="id-tab-1" class="imeco-tab" ng-class="{'active' : showTab.tab1 == true}">
            PASO 1
        </li>
        <li id="id-tab-2" class="imeco-tab" ng-class="{'active' : showTab.tab2 == true}">
            PASO 2
        </li>
        <li id="id-tab-3" class="imeco-tab" ng-class="{'active' : showTab.tab3 == true}">
            PASO 3
        </li>
    </ul>
    <div class="tab-content" style="overflow:hidden">
        <div class="tab-pane active" ng-class="{'active' : showTab.tab1 == true}">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Datos del Tendero</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" name="nameFormDniTendero" ng-submit="buscarTendero()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dni del Tendero</label>
                            <div class="col-sm-6">
                                <input type="number" ng-model="tendero.dni" name="dni" ng-disabled="isWorkingDni"
                                       class="form-control" min="10000000" maxlength="15"
                                       required="true" placeholder="Documento de Identidad" tooltip="After today restriction">
                                <label class="label label-danger" ng-show="
                                        nameFormDniTendero.dni.$dirty &&
                                                nameFormDniTendero.dni.$invalid">
                                    Por favor el Dni es requerido
                                    <!-- <small class="error"ng-show="signupFrm.username.$error.required">Please input a username</small>
                                         <small class="error"ng-show="signupFrm.username.$error.minlength">Please enter a min length of 3</small>
                                         <small class="error"ng-show="signupFrm.username.$error.maxlength">Please enter a max length of 10</small>-->
                                </label>
                            </div>
                            <div class="col-xs-2">
                                <button type="submit" ng-disabled="!nameFormDniTendero.$valid || isWorkingDni"
                                        class="btn btn-primary btn-block glyphicon glyphicon-search"></button>
                            </div>
                        </div>
                    </form>

                    <div ng-show="isNewTendero" class="box box-danger" style="background-color: #FAFAFA">
                        <div class="box-header">
                            <h3 class="box-title">Nuevo Tendero</h3>
                            <button type="button" class="close" 
                                    ng-click="cancelNewTendero()"
                                    class="pull-right">&times;
                            </button>
                        </div>
                        <div class="box-body">
                            <form class="form-horizontal" name="nameFormNuevoTendero" 
                                  ng-submit="saveNewTendero()">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Dni:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="number" readonly="true" class="form-control" ng-model="tendero.dni"
                                               placeholder="Documento de Identidad">             
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Nombre:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="tendero.nombre"
                                               required="true" placeholder="Nombre del Tendero">             
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Apellidos:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="tendero.apellido"
                                               placeholder="Apellido del Tendero">             
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Dirección:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="tendero.direccion"
                                               placeholder="Dirección Tendero">             
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Fecha Nacimiento:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" ng-model="tendero.nacimiento">             
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Sexo:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sexo" value="M" ng-model="tendero.sexo">
                                                Masculino
                                            </label>
                                            <label style="margin-left: 1em">
                                                <input type="radio" name="sexo" value="f" ng-model="tendero.sexo">
                                                Femenino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" title="Registrar Nuevo Tendero"
                                                ng-disabled="!nameFormNuevoTendero.$valid"
                                                class="btn btn-primary pull-right glyphicon glyphicon-saved">
                                        </button>                                                
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-danger" ng-show="isDniRegistrado" style="background: rgba(254, 248, 246, 0.75)">
                <div class="box-header">
                    <h3 class="box-title">Datos de la Incidencia</h3>
                    <button type="button" class="close" 
                            ng-click="cancelIncidente()"
                            class="pull-right">&times;
                    </button>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" ng-submit="saveIntervencion()" name="nameFormIntervencion">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha Intervención</label>
                            <div class="col-sm-9">
                                <input ng-model="incidente.fecha" type="datetime-local"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Derivación del Tendero</label>
                            <div class="col-sm-3">
                                <select ng-model="incidente.derivacion" class="form-control">
                                    <option value="Comisaria">Comisaria</option>
                                    <option value="Dirincri">Dirincri</option>
                                    <option value="Interno">Interno</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" ng-model="incidente.lugarDerivacion" 
                                       class="form-control" ng-disabled="incidente.derivacion != 'Otros'"
                                       placeholder="Lugar de Derivacion">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Prevencionista</label>
                            <div class="col-sm-3">
                                <input type="number" required="true"
                                       ng-model="incidente.prevencionista.dni"
                                       class="form-control" placeholder="DNI">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" required="true"
                                       ng-model="incidente.prevencionista.nombre"
                                       class="form-control" placeholder="Nombre del Prevencionista">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Puesto del Prevencionista</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="incidente.puesto">
                                    <option value="1">Tangos (Puerta)</option>
                                    <option value="2">Movil (Sala de Ventas)</option>
                                    <option value="3">Aguia (Cctv)</option>
                                    <option value="4">Alto Valor</option>
                                    <option value="5">Almacen</option>
                                    <option value="6">Probadores</option> 
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Modalidad Empleada</label>
                            <div class="col-sm-9">
                                <textarea class="form-control text-res" rows="5" maxlength="500" ng-trim='false'
                                          ng-model="incidente.modalidadEmpleada" 
                                          style="resize: none">                                                           
                                </textarea>
                                <span class="label label-info">
                                    {{500 - incidente.modalidadEmpleada.length}}         
                                    Caracteres Restantes
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Detalle de Intervención </label>
                            <div class="col-sm-9">
                                <!--ng-trim = false Nos Contabiliza tambien los caracteres en blanco y los saltos de linea--> 
                                <textarea  style="resize: none" maxlength="600" ng-trim='false'
                                           ng-model="incidente.detalleIntevencion"
                                           class="form-control text-res" 
                                           rows="5">
                                </textarea>
                                <span class="label label-info">
                                    {{600 - incidente.detalleIntevencion.length}}         
                                    Caracteres Restantes
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <button class="pull-right btn btn-danger" ng-click="irPaso2()" ng-disabled="!nameFormIntervencion.$valid">Siguiente</button>
        </div>
        <!-- FIN PASO 1 -->


        <!-- PASO 2 -->
        <div class="tab-pane" ng-class="{'active' : showTab.tab2 == true}">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Ingrese Producto</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" name="nameFormProducto">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Codigo:</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" ng-model="producto.codigo"
                                       required="true"
                                       placeholder="Código del Producto">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Descripción:</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" required="true" ng-model="producto.descripcion"
                                       placeholder="Descripción del Producto">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">Marca</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" ng-model="producto.marca" placeholder="Marca del Producto">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Cantidad</label>
                            <div class="col-xs-3">
                                <input type="number" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control" ng-model="producto.cantidad" required="true" min="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Precio</label>
                            <div class="col-xs-3">
                                <input type="number" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control" ng-model="producto.precio" required="true" min="0">
                            </div>
                            <div class="col-xs-7">
                                <button  class="btn btn-primary pull-right" ng-click="addProduct()" ng-disabled="!nameFormProducto.$valid"
                                         title="Agrege Producto a la Lista">Agregar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Productos Incautados</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="col-xs-12">
                        <table id="id-table-intervenciones" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Marca</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>                                            
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pro in productos">
                                    <td>{{pro.codigo}}</td>
                                    <td>{{pro.descripcion}}</td>
                                    <td>{{pro.marca}}</td>
                                    <td>{{pro.cantidad}}</td>
                                    <td>{{pro.precio}}</td>                                            
                                    <td>
                                        <button class="btn btn-danger btn-xs" ng-click="removeProduct($index)">Quitar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <button class="pull-left btn btn-danger" ng-click="irPaso1()">Atrás</button> 
                <button class="pull-right btn btn-danger" ng-click="irPaso3()">Siguiente</button> 
            </div>

        </div>
        <!--FIN PASO 2-->

        <!--PASO 3 PASO 3 PASO 3 PASO 3-->
        <div class="tab-pane" ng-class="{'active' : showTab.tab3 == true}">
            <P>Foto del tendero</P>
            <div class="row">
                <div class="col-sm-7">
                    <form class="form-horizontal">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <div>
                                    <label for="exampleInputFile">Imagen del Tendero</label>
                                </div>
                                <img id="id-imagen-tendero" src="resources/img/avatar_default.jpg" width="180px" height="250px">
                            </div>

                            <div class="form-group">
                                <input type="file" id="exampleInputFile">
                            </div>
                        </div>
                    </form>
                </div> 
                <div class="col-sm-7">                             
                </div>
            </div>
            <div>
                <button ng-click="irPaso2()" class="pull-left btn btn-danger">Atrás</button> 
                <button ng-click="SaveAll" class="pull-right btn btn-danger">Registrar Incidente</button> 
            </div>

        </div>
        <!--FIN PASO 3-->
    </div>
</div>