.scroll-img {
  border: 0px solid red;
  width: 90%;
  height: 110px;
  overflow: hidden;
  font-size: 0;
}

.scroll-img ul {
  width: 2000px;
  margin: 0;
}

.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}

