<div style="margin-bottom: 5px">

    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary">Nuevo</button>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a ng-click="togglePc()" class="imeco-pointer">
                    <span class="glyphicon glyphicon-picture"></span>
                    Desde PC
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a ng-click="showModalNuevoSlide()" class="imeco-pointer">
                    <span class="glyphicon glyphicon-link"></span>
                    Desde Internet
                </a>
            </li>
        </ul>
    </div>

    <div ng-show="fromPc" class="box box-default imeco-mini-container"> 
        <div class="box-header">
            <h3 class="box-title">Buscar Imagen en la PC</h3>
            <button type="button" class="close pull-right" ng-click="togglePc()" title="Cerrar Ventana">&times;</button>
        </div>
        <div class="box-body">
            <form ng-submit="uploadFile()" enctype="multipart/form-data" name="form">
                <input type="file" file-model="myFile">
                <input type="submit" class="btn btn-primary" value="Guardar" style="margin-top: 0.5em"
                       ng-disabled="isClickLoad">
            </form>
        </div>
    </div>
</div>


<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-users"></i> 
        <h3 class="box-title">Slide De Imágenes - Página Principal</h3>
    </div>
    <div class="box-body">

        <div class="row">
            <div class="col-md-6">

                <alert type="{{alert.type}}" class="imeco-alert" ng-show="isRegister">
                    {{alert.msg}}
                </alert>

                <table id="AS" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Imagen</th>
                            <th class="imeco-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in currentEnlaces">
                            <td>{{d.id}}</td>
                            <td>
                                <img src="{{d.url}}" title="{{d.url}}" class="img-rounded imeco-imagen">
                            </td>
                            <td class="imeco-center">
                                <img style="cursor: pointer" src="resources/iconos/delete.png" title="Eliminar Slide" 
                                     ng-click="deleteEnlace(d.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="imeco-left">
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" 
                                max-size="maxSize" ng-change="pageChanged()"
                                class="pagination-sm" items-per-page = "5"
                                boundary-links="true">
                    </pagination>
                </div>
            </div>
            <div class="col-md-6">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in currentEnlaces" active="slide.active" style="height: 400px">
                        <img ng-src="{{slide.url}}" style="margin:auto;" class="imeco-large img-rounded">
                        <div class="carousel-caption">
                            <h4>Imagen {{slide.id}}</h4>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>

