<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">CONTINUIDAD OPERATIVA ACTUAL</h3>
        <div class="pull-right">
            <span class="label label-danger">ALTO</span>
            <span class="label label-warning">MODERADO</span>
            <span class="label label-success">BAJO</span>
        </div>
    </div>
    <div class="box-body">
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-1 control-label">PRODUCTO:</label>
                    <div class="col-xs-3">
                        <select class="form-control" ng-model="producto" required ng-change="changeProduct()"
                                ng-options="p.nombreProducto for p in productos track by p.idProducto">
                            <option value="">-Seleccione-</option>
                        </select>
                    </div>
                    <div class="col-xs-4 pull-right">
                        <span class="text-light-blue">internos + externos = TOTAL = inoperativos + operativos</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="width: 1500px">
                <tr style="font-weight: bold">
                    <td>Tienda</td>
                    <td>Equipo</td>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <td>Capacidad</td>
                    <td class="imeco-right">TOTAL</td>
                    <td class="imeco-right text-blue">Interno</td>
                    <td class="imeco-right text-blue">Externo</td>
                    <td class="imeco-right text-green imeco-pointer"
                        ng-click="reverse=!reverse;order('cantidadInoperativo', reverse)">Inoperativo
                    <span class="fa" ng-show="predicate === 'cantidadInoperativo'"
                          ng-class="{'fa-caret-down': reverse ,' fa-caret-up': !reverse}"></span>
                    </td>
                    <td class="imeco-right text-green">Operativo</td>
                    <td class="imeco-right">Reubicacion</td>
                    <td class="imeco-right">Acciones<span style="color: #f9f9f9">Acciones</span></td>
                </tr>
                <tr ng-repeat="oper in operatividad">
                    <td title="{{oper.nombreTienda}}" class="imeco-cur-default">
                    <span editable-select="oper.idTienda" e-name="idTienda" e-form="rowform"
                          e-ng-options="t.idTienda as t.nombreTienda for t in tiendas">
                        {{oper.nombreTienda}}
                    </span>
                    </td>
                    <td>
                    <span editable-text="oper.nombreEquipo" e-name="nombreEquipo" e-form="rowform">
                        {{oper.nombreEquipo}}
                    </span>
                    </td>
                    <td>
                    <span editable-text="oper.marcaEquipo" e-name="marcaEquipo" e-form="rowform">
                        {{oper.marcaEquipo}}
                    </span>
                    </td>
                    <td>
                    <span editable-text="oper.modeloEquipo" e-name="modeloEquipo" e-form="rowform">
                        {{oper.modeloEquipo}}
                    </span>
                    </td>
                    <td>
                    <span editable-text="oper.capacidadEquipo" e-name="capacidadEquipo" e-form="rowform">
                        {{oper.capacidadEquipo}}
                    </span>
                    </td>
                    <td class="imeco-right">
                        {{oper.cantidadTotal}}
                    </td>
                    <td class="imeco-right">
                    <span editable-number="oper.cantidadInterna"
                          e-name="cantidadInterna" e-form="rowform">
                        {{oper.cantidadInterna}}
                    </span>
                    </td>
                    <td class="imeco-right">
                    <span editable-number="oper.cantidadExterna" e-name="cantidadExterna" e-form="rowform">
                        {{oper.cantidadExterna}}
                    </span>
                    </td>
                    <td class="imeco-right">
                    <span editable-number="oper.cantidadInoperativo" e-name="cantidadInoperativo" e-form="rowform">
                        <span class="label"
                              ng-class="{
                          'label-danger': oper.cantidadInoperativo >= 10 ,
                          'label-warning': oper.cantidadInoperativo >=5 && oper.cantidadInoperativo <10,
                          'label-success': oper.cantidadInoperativo < 5
                          }">
                        {{oper.cantidadInoperativo}}
                        </span>
                    </span>
                    </td>
                    <td class="imeco-right">
                    <span editable-number="oper.cantidadOperativo" e-name="cantidadOperativo" e-form="rowform">
                        {{oper.cantidadOperativo}}
                    </span>
                    <td class="imeco-right">
                    <span editable-number="oper.cantidadReubicacion" e-name="cantidadReubicacion" e-form="rowform">
                        {{oper.cantidadReubicacion}}
                    </span>
                    <td style="text-align: center">
                        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="inserted == oper" onbeforesave="saveOper($data, oper.idDetOperatividad,$index)">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-primary">
                                save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting"
                                    ng-click="rowform.$cancel();cancelOper(oper.idDetOperatividad)" class="btn btn-xs btn-default">
                                cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-xs btn-primary" ng-click="rowform.$show()">edit</button>
                            <button class="btn btn-xs btn-danger" ng-click="removeOper(oper.idDetOperatividad)"
                                    title="id:{{oper.idDetOperatividad}}">del</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <div style="margin-top: 1em">
            <button class="btn btn-default" ng-click="addOperatividad()">Agregar</button>
        </div>
    </div>
</div>
