<div class="nav-tabs-custom" style="padding: 0.2em">
    <ul class="nav nav-tabs">
        <li id="id-tab-1" class="imeco-tab-2" ng-class="{'active': tab.tab1 == true}" ng-click="showTab1()">
            REPORTE {{busqueda.tipoFecha}}
        </li>
        <li id="id-tab-3" class="imeco-tab-2" ng-class="{'active': tab.tab2 == true}" ng-click="showTab2()">
            DETALLADO POR TIENDA
        </li>
    </ul>
    <div class="tab-content" style="overflow:hidden">
        <!--TAB 1-->
        <div class="tab-pane" ng-class="{'active': tab.tab1 == true}">
            <div class="box box-default">
                <div class="box-header">
                    <strong>MENÚ - OPCIONES DE BÚSQUEDA</strong>
                </div>
                <div class="box-body">
                    <div class="row">
                        <form class="form-horizontal"
                              name="formFechaConsulta"
                              ng-submit="buscarData()">
                        <div class="col-sm-4">
                            <div class="box box-default">
                                <div class="box-header">
                                    FILTRO DE FECHAS
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>
                                                <input ng-click="pormeses = false" type="radio" name="fecha"
                                                       value="ANUAL"
                                                       ng-model="busqueda.tipoFecha">
                                                ANUAL
                                            </div>
                                            <div>
                                                <input ng-click="pormeses = false" type="radio" name="fecha"
                                                       value="POR MES"
                                                       ng-model="busqueda.tipoFecha">
                                                POR MES
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input type="date" name="dni" ng-model="busqueda.fecha"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box box-default">
                                <div class="box-header">
                                    FILTRO DE HORARIOS
                                </div>
                                <div class="box-body">
                                    <div>
                                        <input type="radio" name="horario" value="00:00:00 23:59:59"
                                               ng-model="busqueda.horario">
                                        TODOS
                                    </div>
                                    <div>
                                        <input type="radio" name="horario" value="09:00:00 12:00:00"
                                               ng-model="busqueda.horario">
                                        09:00 a 12:00
                                        <input style="margin-left: 2em" type="radio" name="horario"
                                               value="12:00:00 17:00:00" ng-model="busqueda.horario">
                                        12:00 a 17:00
                                    </div>
                                    <div>
                                        <input type="radio" name="horario" value="17:00:00 22:00:00"
                                               ng-model="busqueda.horario">
                                        17:00 a 22:00
                                        <input style="margin-left: 2em" type="radio" name="horario"
                                               value="22:00:00 09:00:00" ng-model="busqueda.horario">
                                        22:00 a 09:00
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" ng-disabled="!formFechaConsulta.$valid"
                                    class="btn btn-primary animated infinite pulse pull-right">
                                CONSULTAR
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <div style="text-align: center">
                    <h3>Consolidado de Accidentes/Incidentes Oechsle - Grupo Odisea S.A.C</h3>
                    <h5>Lima y Provincias</h5>

                    <h3><label class="label label-danger">{{tituloMes}} - {{tituloAnio}}</label></h3>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm-8">
                            <canvas id="bar" class="chart chart-bar" data="dataConsolidado" labels="labelsConsolidado"
                                    legend="true" series="seriesConsolidado" click="onClick" style="height: 750px">
                            </canvas>
                        </div>
                        <div class="col-sm-4">
                            <div class="box box-danger">
                                <div class="box-header" style="background: #404040;text-align: center">
                                    <img src="resources/img/otros/logo.png" width="150" height="50">
                                </div>
                                <div class="box-body table-responsive">
                                    <table class="table table-bordered table-striped exportTable">
                                        <thead>
                                        <tr>
                                            <th>Tienda</th>
                                            <th style="text-align: right"># Accidentes</th>
                                            <th style="text-align: right"># Incidentes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in dataAllConsolidado">
                                            <td>{{data.tienda}}</td>
                                            <td style="text-align: right">{{data.accidentes}}</td>
                                            <td style="text-align: right">{{data.incidentes}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 1.1em"><strong>TOTAL:</strong></td>
                                            <td style="text-align: right;font-size: 1.1em">
                                                <strong>{{totalAccidentes}}</strong></td>
                                            <td style="text-align: right;font-size: 1.1em">
                                                <strong>{{totalIncidentes}}</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer">
                                    <div class="pull-right">
                                        <button class="odisea-btn-pdf" ng-click="exportAction()">
                                            <img width="25" height="25" src="resources/img/xls.png">
                                            &nbsp; Exportar a Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--POR MESES POR MESES POR MESES POR MESES-->

            </div>
        </div>
        <!--FIN TAB 1-->

        <!--TAB 3-->
        <div class="tab-pane" ng-class="{'active': tab.tab2 == true}">
            <div>
                <form class="form-horizontal"
                      name="formTiendaConsulta">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seleccione la Tienda</label>

                        <div class="col-sm-3">
                            <select class="form-control" ng-model="tienda" ng-change="buscarDataDetalle()"
                                    ng-options="ti.nombreTienda for ti in tiendas track by ti.idTienda">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-default">
                <div class="box-header">
                    <span class="panel-title">{{tituloMes}} {{tituloAnio}}  Tienda:{{tienda.nombreTienda}}</span>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box box-danger">
                                <div class="box-header" style="background: #404040;color: white;text-align: center;">
                                    <img src="resources/img/otros/logo.png" width="120" height="40" class="pull-left">
                                    <span class="box-title" style="margin-top: 0.5em">Accidentes</span>
                                </div>
                                <div class="box-body table-responsive" style="height: 300px;">
                                    <table class="table table-bordered table-striped exportTable1">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Dni</th>
                                            <th>Involucrado</th>
                                            <th>Edad</th>
                                            <th>Sexo</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in data.cabaccidente">
                                            <td>{{data.idIncidente}}</td>
                                            <td>{{data.dniInvolucrado}}</td>
                                            <td>{{data.nombreInvolucrado}}</td>
                                            <td>{{data.edadInvolucrado}}</td>
                                            <td>{{data.sexoInvolucrado}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer">
                                    TOTAL ACCIDENTE : <span class="label label-success odisea-font">{{data.cabaccidente.length}}</span>

                                    <div class="pull-right">
                                        <button class="odisea-btn-pdf" ng-click="exportAction1()">
                                            <img width="25" height="25" src="resources/img/xls.png">
                                            &nbsp; Exportar a Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box box-danger">
                                <div class="box-header" style="background: #404040;color: white;text-align: center;">
                                    <img src="resources/img/otros/logo.png" width="120" height="40" class="pull-left">
                                    <span class="box-title" style="margin-top: 0.5em">Detalle de Productos Dañados - Accidentes</span>
                                </div>
                                <div class="box-body table-responsive" style="height: 300px;">
                                    <table class="table table-bordered table-striped exportTable2">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Activo?</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Marca</th>
                                            <th class="imeco-right">Cantidad</th>
                                            <th class="imeco-right">Precio</th>
                                            <th style="text-align: right">Total S/.</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in data.detaccidente">
                                            <td>{{data.idIncidente}}</td>
                                            <td>{{data.esActivo}}</td>
                                            <td>{{data.codigoProducto}}</td>
                                            <td>{{data.descripcionProducto}}</td>
                                            <td>{{data.marcaProducto}}</td>
                                            <td class="imeco-right">{{data.cantidadProducto}}</td>
                                            <td class="imeco-right">{{data.precioProducto | currency:''}}</td>
                                            <td class="imeco-right">{{data.totalProducto | currency:''}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer">
                                    TOTAL PRODUCTOS : <span class="label label-success odisea-font">{{data.detaccidente.length}}</span>

                                    <div class="pull-right">
                                        <button class="odisea-btn-pdf" ng-click="exportAction2()">
                                            <img width="25" height="25" src="resources/img/xls.png">
                                            &nbsp; Exportar a Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box box-danger">
                                <div class="box-header" style="background: #404040;color: white;text-align: center;">
                                    <img src="resources/img/otros/logo.png" width="120" height="40" class="pull-left">
                                    <span class="box-title" style="margin-top: 0.5em">Incidentes</span>
                                </div>
                                <div class="box-body table-responsive" style="height: 300px;">
                                    <table class="table table-bordered table-striped exportTable3">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Dni</th>
                                            <th>Involucrado</th>
                                            <th>Edad</th>
                                            <th>Sexo</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in data.cabincidente">
                                            <td>{{data.idIncidente}}</td>
                                            <td>{{data.dniInvolucrado}}</td>
                                            <td>{{data.nombreInvolucrado}}</td>
                                            <td>{{data.edadInvolucrado}}</td>
                                            <td>{{data.sexoInvolucrado}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer">
                                    TOTAL INCIDENTES : <span class="label label-success odisea-font">{{data.cabincidente.length}}</span>

                                    <div class="pull-right">
                                        <button class="odisea-btn-pdf" ng-click="exportAction3()">
                                            <img width="25" height="25" src="resources/img/xls.png">
                                            &nbsp; Exportar a Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box box-danger">
                                <div class="box-header" style="background: #404040;color: white;text-align: center;">
                                    <img src="resources/img/otros/logo.png" width="120" height="40" class="pull-left">
                                    <span class="box-title" style="margin-top: 0.5em">Detalle de Productos Dañados - Incidentes</span>
                                </div>
                                <div class="box-body table-responsive" style="height: 300px;">
                                    <table class="table table-bordered table-striped exportTable4">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Activo?</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Marca</th>
                                            <th class="imeco-right">Cantidad</th>
                                            <th class="imeco-right">Precio</th>
                                            <th style="text-align: right">Total S/.</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in data.detincidente">
                                            <td>{{data.idIncidente}}</td>
                                            <td>{{data.esActivo}}</td>
                                            <td>{{data.codigoProducto}}</td>
                                            <td>{{data.descripcionProducto}}</td>
                                            <td>{{data.marcaProducto}}</td>
                                            <td class="imeco-right">{{data.cantidadProducto}}</td>
                                            <td class="imeco-right">{{data.precioProducto | currency:''}}</td>
                                            <td class="imeco-right">{{data.totalProducto | currency:''}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer">
                                    TOTAL PRODUCTOS : <span class="label label-success odisea-font">{{data.detincidente.length}}</span>

                                    <div class="pull-right">
                                        <button class="odisea-btn-pdf" ng-click="exportAction4()">
                                            <img width="25" height="25" src="resources/img/xls.png">
                                            &nbsp; Exportar a Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FIN TAB 3-->
    </div>
</div>
