.imeco-footer{
    background-color: #e7e7e7;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 1005;
}

.imeco-required{
    font-weight:bold;
    color: orangered;
}

.imeco-label{
    color: #555555;
}

.imeco-pointer{
    cursor: pointer;
}

.imeco-cur-default{
    cursor: default;
}

.imeco-mini-container{
    margin-top: 1em;
    padding: 1em;
}

.imeco-center{
    text-align: center;
}

.imeco-center-div{
    margin: 0 auto !important;
}

.imeco-alert{
    padding: 0.3em;
    margin-bottom: 1em;
}

.imeco-right{
    text-align: right
}

.imeco-block{
    display: block;
    text-align: left !important;
}

.odisea-font{
    font-size: 1em;
}

.imeco-left{
    text-align: left
}

.imeco-imagen{
    width: 100px;
    height: 65px;
}

.imeco-large{
    width: 500px;
    height: 400px;
}
.imeco-tab{
    padding:1em 9%;
    width: 30%;
    text-align: center
}

.imeco-tab-2{
    padding:0.5em 1em;
    text-align: center;
    cursor: pointer;
    color: #0072b1;
    font-weight: bold;
    /*background-color: #d6e0f5;*/
    background-color: #f3f3f3;
    border: 1px solid #3c8dbc;
}

.imeco-normal{
    font-weight: normal;
}

.odisea-btn-pdf{
    border: none;
    box-sizing: border-box;
    border-radius: .4em;
    background-color:#ff4842;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Lato,sans-serif;
    font-size: .95em;
    font-weight: 700;
    padding: .6em .8em .8em;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    transition: .2s;
    vertical-align: middle;
    box-shadow: inset 0 -.2em rgba(0,0,0,.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-appearance: none;
}
.odisea-btn-pdf:focus, .odisea-btn-pdf:hover{
    background-color:#7dcd40;
}