.imeco-footer{
    background-color: #e7e7e7;
    position: absolute;
    bottom: 0;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}

.imeco-pointer{
    cursor: pointer;
}

.imeco-center{
    text-align: center;
}

.imeco-alert{
    padding: 0.3em;
    margin-bottom: 1em;
}

.imeco-right{
    text-align: right
}
.imeco-left{
    text-align: left
}
.imeco-center{
    text-align: center
}