.imeco-footer{
    background-color: #e7e7e7;
    position: fixed;
    bottom: 0;
    padding: 0.8em;
    text-align: center;
    width: 100%;
    z-index: 1005;
}

.imeco-pointer{
    cursor: pointer;
}

.imeco-mini-container{
    margin-top: 1em;
    padding: 1em;
}

.imeco-center{
    text-align: center;
    padding: 0.2em;
}

.imeco-alert{
    padding: 0.3em;
    margin-bottom: 1em;
}

.imeco-right{
    text-align: right
}
.imeco-left{
    text-align: left
}

.imeco-imagen{
    width: 100px;
    height: 65px;
}

.imeco-large{
    width: 500px;
    height: 400px;
}
.imeco-tab{
    padding:1em 9%;
    width: 32%;
    text-align: center
}