<div class="nav-tabs-custom" style="padding: 0.5em">
    <ul class="nav nav-tabs">
        <li id="id-tab-1" class="imeco-tab-2" ng-class="{'active': tab.tab1 == true}" ng-click="showTab1()">
            INDICADOR TIENDAS {{tituloMes}}
        </li>
        <li id="id-tab-2" class="imeco-tab-2" ng-class="{'active': tab.tab2 == true}" ng-click="showTab2()">
            RECUPEROS POR TIENDA
        </li>
        <li id="id-tab-3" class="imeco-tab-2" ng-class="{'active': tab.tab3 == true}" ng-click="showTab3()">
            DETALLADO POR APP
        </li>
    </ul>
    <div class="tab-content" style="overflow:hidden">

        <!--TAB 1-->
        <div class="tab-pane" ng-class="{'active': tab.tab1 == true}">
            <div>
                <form class="form-horizontal" 
                      name="formFechaConsulta" 
                      ng-submit="buscarData()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seleccione Mes y Año</label>
                        <div class="col-sm-2">
                            <input type="date" name="dni" ng-model="fechaBusqueda"
                                   class="form-control">
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-danger" ng-disabled="!formFechaConsulta.$valid" type="submit">Consultar</button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="row" style="text-align: center">
                <div class="col-sm-12">
                    <h3>Consolidado de Intervenciones Oechsle - Grupo Odisea S.A.C </h3>
                    <h4>Lima y Provincias <strong>{{tituloMes}} - {{tituloAnio}}</strong></h4>     
                </div>
                <div class="col-sm-12">
                    <canvas id="bar" class="chart chart-bar" data="data" labels="labels" 
                            legend="true" series="series" click="onClick" style="height: 750px">
                    </canvas> 
                </div>
            </div>
        </div>
        <!--FIN TAB 1-->

        <!--TAB 2-->
        <div class="tab-pane" ng-class="{'active': tab.tab2 == true}">
            <div class="box box-danger">
                <div class="box-header" style="background: #404040;color: white;text-align: center;padding: 1em">
                    <img src="resources/img/otros/logo.png" width="150" height="50" class="pull-left">
                    <h3 class="box-title">Recuperados por Tienda OECHSLE</h3>
                    <p>Tenderos Capturados Lima y Provincias  <strong>{{tituloMes}} - {{tituloAnio}}</strong></p>
                </div>
                <div class="box-body table-responsive" style="background-color: #ddd9c4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tienda</th>
                                <th style="text-align: center">Intervenciones</th>
                                <th style="text-align: right">Total Recuperado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in allData">
                                <td>{{data.tienda}}</td>
                                <td style="text-align: center">{{data.intervenciones}}</td>
                                <td style="text-align: right">{{data.recuperado| currency:'S/. '}}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 1.5em"><strong>TOTALES:</strong></td>
                                <td style="text-align: center;font-size: 1.5em"><strong>{{totalIntervenciones}}</strong></td>
                                <td style="text-align: right;font-size: 1.5em"><strong>{{totalRecuperado| currency:'S/. '}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--FIN TAB 2-->

        <!--TAB 3-->
        <div class="tab-pane" ng-class="{'active': tab.tab3 == true}">
            <div>
                <form class="form-horizontal" 
                      name="formTiendaConsulta">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seleccione la Tienda</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="tienda" ng-change="recuperadoPorPrevencionista()"
                                    ng-options="ti.nombreTienda for ti in tiendas track by ti.idTienda">
                            </select>
                        </div>
                        <!--                        <div class="col-sm-5">
                                                    <button class="btn btn-danger" ng-disabled="!formTiendaConsulta.$valid" type="submit">Consultar</button>
                                                </div>-->
                    </div>
                </form>
            </div>

            <div class="row" style="">

                <div class="col-sm-5">
                    <div class="box box-danger">
                        <div class="box-header" style="background: #404040;color: white;text-align: center;padding: 1em">
                            <img src="resources/img/otros/logo.png" width="150" height="50" class="pull-left">
                            <h3 class="box-title">Control de Recuperos por Prevencionista <strong>{{tienda.nombreTienda}}</strong></h3>
                            <p>Tenderos Capturados {{tituloMes}} - {{tituloAnio}}</p>
                        </div>
                        <div class="box-body table-responsive" style="background-color: #ddd9c4;height: 460px">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>DNI</th>
                                        <th>Prevencionista</th>
                                        <th>Descripción</th>
                                        <th>Tipo de Hurto</th>
                                        <th>Cantidad</th>
                                        <th style="text-align: right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in allData2">
                                        <td>{{$index + 1}}</td>
                                        <td>{{data.dniPrevencionista}}</td>
                                        <td>{{data.nombrePrevencionista}}</td>
                                        <td>{{data.descripcionProducto}}</td>
                                        <td>{{data.tipoHurto}}</td>
                                        <td>{{data.cantidadProducto}}</td>
                                        <td style="text-align: right">{{data.totalProducto| currency:'S/ '}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tienda <strong>{{tienda.nombreTienda}} {{tituloMes}} - {{tituloAnio}}</strong>
                        </div>
                        <div class="panel-body" style="height: 500px">
                            <canvas id="bar2" class="chart chart-bar" data="data2" labels="labels2" 
                                    legend="true" series="series2" style="height: 400px">
                            </canvas> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="box box-danger">
                        <div class="box-header" style="background: #404040;color: white;text-align: center;padding: 1em">
                            <img src="resources/img/otros/logo.png" width="150" height="50" class="pull-left">
                            <h3 class="box-title">Control de Intervenciones por tipo de Hurto <strong>{{tienda.nombreTienda}}</strong></h3>
                        </div>
                        <div class="box-body" style="background-color: #ddd9c4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tipo de Hurto</th>
                                        <th style="text-align: right">Cantidad</th>
                                        <th style="text-align: right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>INTERNO</td>
                                        <td style="text-align: right">{{total.cantidadInternos}}</td>
                                        <td style="text-align: right">{{total.totalInternos| currency:'S/ '}}</td>                          
                                    </tr>
                                    <tr>
                                        <td>EXTERNO</td>
                                        <td style="text-align: right">{{total.cantidadExternos}}</td>
                                        <td style="text-align: right">{{total.totalExternos| currency:'S/ '}}</td>                      
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;font-size: 1.5em">TOTAL</td>
                                        <td style="text-align: right;font-weight: bold;font-size: 1.5em">{{total.cantidadInternos + total.cantidadExternos}}</td>
                                        <td style="text-align: right;font-weight: bold;font-size: 1.5em">{{total.totalInternos + total.totalExternos| currency:'S/ '}}</td>                         
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Control de Intervenciones por tipo de Hurto <strong>{{tienda.nombreTienda}} {{tituloMes}} - {{tituloAnio}}</strong>
                        </div>
                        <div class="panel-body" style="height: 500px">
                            <canvas id="bar3" class="chart chart-bar" data="data3" labels="labels3" 
                                    legend="true" series="series3" style="height: 400px">
                            </canvas> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FIN TAB 3-->
    </div>
</div>
