<div class="panel panel-primary">
    <div class="panel-heading">
        Parámetros de Búsqueda
        <i class="pull-right fa" style="cursor: pointer;font-size: 1.5em"
           ng-class="{'fa-chevron-circle-down': isCollapsed == true ,
                               'fa-chevron-circle-up': isCollapsed == false}"
           ng-click="isCollapsed = !isCollapsed"></i>
    </div>
    <div class="panel-body">
        <form name="nameFormSearch" ng-submit="listar()" class="form-horizontal" collapse="isCollapsed">
            <div class="row">

                <label class="control-label col-md-1">Dni:</label>
                <div class="col-md-3" style="margin-bottom: 1em">
                    <input  type="text" ng-model="termSearch.dni" maxlength="15"
                            class="form-control"
                            placeholder="Dni">
                </div>

                <label class="control-label col-md-1">Nombres:</label>
                <div class="col-md-3" style="margin-bottom: 1em">
                    <input type="text" ng-model="termSearch.nombre" class="form-control"
                           placeholder="Nombres">
                </div>


                <label class="control-label col-md-1">Cargo:</label>
                <div class="col-md-3" style="margin-bottom: 1em">
                    <input  type="text" ng-model="termSearch.cargo" maxlength="150"
                            class="form-control">
                </div>

                <label class="control-label col-md-1">Asunto:</label>
                <div class="col-md-3" style="margin-bottom: 1em">
                    <input type="text" ng-model="termSearch.asunto" class="form-control" maxlength="150">
                </div>

            </div>
            <div>
                <button class="btn btn-primary pull-right animated infinite pulse" type="submit"
                        ng-disabled='!nameFormSearch.$valid'>BUSCAR</button>
            </div>
        </form>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Informes Adicionales</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive" style="height: 400px">
            <table class="table table-bordered table-striped exportTable">
                <thead>
                <tr>
                    <th>Dni</th>
                    <th>Apellidos y Nombres</th>
                    <th>Cargo</th>
                    <th>Asunto</th>
                    <th class="imeco-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="informe in informes">
                    <td>{{informe.dni}}</td>
                    <td>{{informe.nombres}}</td>
                    <td>{{informe.cargo}}</td>
                    <td>{{informe.asunto}}</td>
                    <td style="text-align: center">
                        <img style="cursor: pointer" src="resources/iconos/Info-24.png" ng-click="showModalVer(informe)" title="Detalle">
                        <img ng-show="permisos.admin()"  style="cursor: pointer" src="resources/iconos/Ok-24.png" ng-click="actualizar(informe)" title="Actualizar">
                        <img ng-show="permisos.admin()"  style="cursor: pointer" src="resources/iconos/Cancel-24.png" ng-click="eliminar(informe.id)"
                             title="Eliminar {{informe.id}}">
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <label class="label label-warning" ng-if="informes.length == 0">0 Registros</label>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="pull-right">
            <button class="odisea-btn-pdf" ng-click="exportAction()">
                <img width="25" height="25" src="resources/img/xls.png">
                &nbsp; Exportar a Excel
            </button>
        </div>
    </div>
</div>
