<div class="nav-tabs-custom" style="padding: 0.2em">
    <ul class="nav nav-tabs">
        <li id="id-tab-1" class="imeco-tab-2" ng-class="{'active': tab.tab1 == true}" ng-click="showTab1()">
            REPORTE X PRODUCTO
        </li>
        <li id="id-tab-3" class="imeco-tab-2" ng-class="{'active': tab.tab2 == true}" ng-click="showTab2()">
            PRODUCTOS VS TIENDA
        </li>
    </ul>
    <div class="tab-content">
        <!--TAB 1-->
        <div class="tab-pane" ng-class="{'active': tab.tab1 == true}">
            <div class="box box-default">
                <div class="box-header">
                    <strong>MENÚ - OPCIONES DE BÚSQUEDA</strong>
                </div>
                <div class="box-body">
                    <div class="row">
                        <form class="form-horizontal"
                              name="formFechaConsulta"
                              ng-submit="buscarData()">
                            <div class="col-sm-4">
                                <span>SELECCIONE EL PRODUCTO</span>
                                <select class="form-control" ng-model="producto" required ng-change="changeProduct()"
                                        ng-options="p.nombreProducto for p in productos track by p.idProducto">
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <button class="btn btn-primary animated infinite pulse pull-right"
                                        ng-disabled="!formFechaConsulta.$valid" type="submit">CONSULTAR
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-default">
                        <div class="box-header">
                            NUMERO DE {{producto.nombreProducto}} para Reubicación e Inoperativos
                        </div>
                        <div class="box-body">
                            <canvas class="chart chart-bar" data="dataReuIno"
                                    labels="labelsReuIno" legend="true"
                                    series="seriesReuIno" click="onClick"
                                    style="height: 550px">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div>
                        <label class="label label-black  odisea-font">CRITICO [5-mas]</label>
                    </div>
                    <div style="margin-top: 0.5em">
                        <label class="label label-danger  odisea-font">GRAVE [3-4]</label>
                    </div>
                    <div style="margin-top: 0.5em">
                        <label class="label label-warning odisea-font">MODERADO [2]</label>
                    </div>
                    <div style="margin-top: 0.5em;margin-bottom: 1em">
                        <label class="label label-success odisea-font">BAJO [0-1]</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="box box-danger">
                        <div class="box-header" style="background: #404040;text-align: center">
                            <img src="resources/img/otros/logo.png" width="150" height="50">
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped exportTable">
                                    <thead>
                                    <tr>
                                        <th>Tienda</th>
                                        <th style="text-align: right">Reubicacion</th>
                                        <th style="text-align: right">Inoperativos</th>
                                        <th style="text-align: right">Nivel de Riesgo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="data in dataAllReuIno">
                                        <td>{{data.tienda}}</td>
                                        <td style="text-align: right">{{data.reubicados}}</td>
                                        <td align="right">
                                                {{data.inoperativo}}
                                        </td>
                                        <td align="center" style="vertical-align: middle">
                                           <span ng-class="{
                                              'odisea-border-critico': data.inoperativo >= 5 ,
                                              'odisea-border-grave': data.inoperativo >= 3 && data.inoperativo <=4,
                                              'odisea-border-moderado': data.inoperativo ==2,
                                              'odisea-border-bajo': data.inoperativo <=1
                                              }">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1.1em"><strong>TOTAL:</strong></td>
                                        <td style="text-align: right;font-size: 1.1em">
                                            <strong>{{total.reubicados}}</strong></td>
                                        <td style="text-align: right;font-size: 1.1em">
                                            <strong>{{total.inoperativos}}</strong></td>
                                        <td style="text-align: right;font-size: 1.1em">
                                            <strong></strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button class="odisea-btn-pdf" ng-click="exportAction()">
                                    <img width="25" height="25" src="resources/img/xls.png">
                                    &nbsp; Exportar a Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FIN TAB 1-->
        <!--TAB 2-->
        <div class="tab-pane" ng-class="{'active': tab.tab2 == true}">
            <div class="box box-danger">
                <div class="box-header" style="background: #404040;text-align: center">
                    <img src="resources/img/otros/logo.png" width="150" height="50">
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped exportTable2">
                            <thead>
                            <tr>
                                <th>Tienda</th>
                                <th ng-repeat="p in productos" class="imeco-right"
                                    style="
                                font-weight: normal;
                                font-size: 0.8em;
                                width: 100px;
                                min-width: 100px;
                                ">{{p.nombreProducto}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in dataAll">
                                <td align="right" ng-repeat="(key, value) in data">
                                    <span ng-class="{
                                                   'odisea-bor-critico': value >= 5 ,
                                                      'odisea-bor-grave': value >= 3 && value <=4,
                                                      'odisea-bor-moderado': value ==2,
                                                      'odisea-bor-bajo': value <=1
                                                  }">
                                                {{value}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-left">
                        <button class="odisea-btn-pdf" ng-click="exportAction2()">
                            <img width="25" height="25" src="resources/img/xls.png">
                            &nbsp; Exportar a Excel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--FIN TAB 2-->
    </div>
</div>
