<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"
            data-dismiss="modal" aria-hidden="true">&times;
    </button>
    <strong class="text-blue">Detalle de Incidente</strong>
</div>
<div class="modal-body">
    <div class="box box-danger">
        <div class="box-header">
            <p class="text-black">INFORMACION DEL INCIDENTE</p>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            INVOLUCRADO
                        </div>
                        <div class="panel-body">
                            <div>
                                <label>Tienda: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.nombreTienda}}</span>
                            </div>
                            <div>
                                <label>Nombre: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.nombreInvolucrado}}</span>
                            </div>
                            <div>
                                <label>Dni: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.dniInvolucrado}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            ACCIDENTADO
                        </div>
                        <div class="panel-body">
                            <div>
                                <label>Nombre: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.nombreAccidentado}}</span>
                            </div>
                            <div>
                                <label>Dni: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.dniAccidentado}}</span>
                            </div>
                            <div>
                                <label>Edad: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.edadAccidentado}}</span>
                            </div>
                            <div>
                                <label>Sexo: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.sexoAccidentado}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            OTROS DATOS
                            <i class="pull-right fa" style="cursor: pointer;font-size: 1.5em"
                               ng-class="{'fa-chevron-circle-down': isViewOtros == true ,
                               'fa-chevron-circle-up': isViewOtros == false}"
                               ng-click="isViewOtros = !isViewOtros"></i>
                        </div>
                        <div class="panel-body" collapse="isViewOtros">
                            <div>
                                <label>Fecha Accidente: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.fechaAccidente}}</span>
                            </div>
                            <div>
                                <label>Acto o Condicion Insegura: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.actoCondicionInsegura}}</span>
                            </div>
                            <div>
                                <label>Nivel Gravedad: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.nivelGravedad}}</span>
                            </div>
                            <div>
                                <label>Diagnostico: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.diagnostico}}</span>
                            </div>
                            <div>
                                <label>Descanso Medico: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.descansoMedico}}</span>
                            </div>
                            <div>
                                <label>Cantidad Dias: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.cantidadDias}}</span>
                            </div>
                            <div>
                                <label>Descripcion Causas: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.descripcionCausas}}</span>
                            </div>
                            <div>
                                <label>Lesion: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.lesion}}</span>
                            </div>
                            <div>
                                <label>Acciones Correctivas: &nbsp;&nbsp;</label>
                                <span class="text-light-blue">{{incidente.accionesCorrectivasRealizadas}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isViewOtros" class="imeco-center">
                        <img ng-src="view/imagen_incidente/{{incidente.idIncidente}}.jpg?random={{mirandom}}"
                             err-src="view/imagen_incidente/default.png"
                             width="140" height="140" class="img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <p class="text-black">DETALLE DEL INCIDENTE</p>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Activo?</th>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th style="text-align: right">Cantidad</th>
                    <th style="text-align: right">Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pro in productos">
                    <td>
                        <label class="label"
                               ng-class="{'label-success': pro.esActivo == 'SI' , 'label-danger': pro.esActivo == 'NO'}">{{pro.esActivo}}</label>
                    </td>
                    <td>{{pro.codigo}}</td>
                    <td>{{pro.descripcion}}</td>
                    <td>{{pro.marca}}</td>
                    <td style="text-align: right">{{pro.cantidad}}</td>
                    <td style="text-align: right">{{pro.precio | currency:'S/. '}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer" style="text-align: right">
            <label>Total:&nbsp;&nbsp;&nbsp; </label>
            <label style="font-size: 1.5em" class="label label-info">
                {{incidente.total | currency:'S/. '}}
            </label>
        </div>
    </div>
</div>
