<div class="panel panel-primary">
    <div class="panel-heading">
        Parámetros de Búsqueda
        <i class="pull-right fa" style="cursor: pointer;font-size: 1.5em"
           ng-class="{'fa-chevron-circle-down': isCollapsed == true ,
                               'fa-chevron-circle-up': isCollapsed == false}"
           ng-click="isCollapsed = !isCollapsed"></i>
    </div>
    <div class="panel-body">
        <form name="nameFormSearch" ng-submit="consultar()" class="form-horizontal" collapse="isCollapsed">
            <div class="row">
                <label class="control-label col-md-1 text-blue">TIPO:</label>

                <div class="col-md-3">
                    <select class="form-control" ng-model="termSearch.tipo">
                        <option value="accidente">ACCIDENTE</option>
                        <option value="incidente">INCIDENTE</option>
                    </select>
                </div>

                <label class="control-label col-md-1">Tienda:</label>

                <div class="col-md-3" style="margin-bottom: 1em">
                    <select class="form-control" ng-model="termSearch.tienda"
                            ng-options="ti.nombreTienda for ti in tiendas track by ti.idTienda">
                        <option value="">TODAS LAS TIENDAS</option>
                    </select>
                </div>

                <label class="control-label col-md-1">DNI:</label>

                <div class="col-md-3" style="margin-bottom: 1em">
                    <input type="text" ng-model="termSearch.dni"
                           ng-maxlength="15" maxlength="15"
                           class="form-control"
                           placeholder="Dni del Involucrado">
                </div>

                <label class="control-label col-md-1">Nombre:</label>

                <div class="col-md-3" style="margin-bottom: 1em">
                    <input type="text" ng-model="termSearch.nombre" class="form-control"
                           placeholder="Nombre del Involucrado">
                </div>


                <label class="control-label col-md-1">Fecha:</label>

                <div class="col-md-3" style="margin-bottom: 1em">
                    <input type="date"
                           ng-model="termSearch.fechaInicial"
                           class="form-control" style="margin-bottom: 1em" required/>
                    <input type="date"
                           ng-model="termSearch.fechaFinal"
                           class="form-control" style="margin-bottom: 1em" required/>
                </div>

                <label class="control-label col-md-1">Rango:</label>

                <div class="col-md-3" style="margin-bottom: 1em">
                    <div>
                        <input type="radio" name="horario" value="00:00:00 23:59:59" ng-model="termSearch.horario">
                        TODOS
                    </div>
                    <div>
                        <input type="radio" name="horario" value="09:00:00 12:00:00" ng-model="termSearch.horario">
                        09:00 a 12:00
                        <input style="margin-left: 2em" type="radio" name="horario"
                               value="12:00:00 17:00:00" ng-model="busqueda.horario">
                        12:00 a 17:00
                    </div>
                    <div>
                        <input type="radio" name="horario" value="17:00:00 22:00:00" ng-model="termSearch.horario">
                        17:00 a 22:00
                        <input style="margin-left: 2em" type="radio" name="horario"
                               value="22:00:00 09:00:00" ng-model="termSearch.horario">
                        22:00 a 09:00
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary pull-right animated infinite pulse" type="submit"
                        ng-disabled='!nameFormSearch.$valid' style="font-weight: bold">BUSCAR
                </button>
            </div>
        </form>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header">
        <span class="box-title">Registros de {{termSearch.tipo}}s</span>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Tienda</th>
                    <th>Nombre Involucrado</th>
                    <th>Dia {{termSearch.tipo}}</th>
                    <th>Hora {{termSearch.tipo}}</th>
                    <th>Fecha {{termSearch.tipo}}</th>
                    <th style="text-align: center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="incidente in incidentes">
                    <td>{{incidente.nombreTienda}}</td>
                    <td>{{incidente.nombreInvolucrado}}</td>
                    <td>{{incidente.diaAccidente}}</td>
                    <td>{{incidente.horaAccidente}}</td>
                    <td>{{incidente.fechaAccidente}}</td>
                    <td style="text-align: center">
                        <img style="cursor: pointer" src="resources/iconos/Info-24.png"
                             ng-click="showModalVer(incidente)" title="Detalle">
                        <img style="cursor: pointer" src="resources/iconos/Ok-24.png" ng-click="actualizar(incidente)"
                             title="Actualizar">
                        <img style="cursor: pointer" src="resources/iconos/Cancel-24.png"
                             ng-click="eliminar(incidente.idIncidente)"
                             title="Eliminar {{incidente.idIncidente}}">
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <label class="label label-warning" ng-if="incidentes.length == 0">0 Registros</label>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="imeco-right">
            <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                        max-size="pagination.maxSize" ng-change="pageChanged()"
                        class="pagination-sm" items-per-page="10"
                        boundary-links="true" rotate="false">
            </pagination>
        </div>
    </div>
</div>
