<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title animated infinite pulse">Últimas Intervenciones</h3>
    </div>
    <div class="box-body table-responsive">
        <div class="alert alert-info" style="padding: 3px" ng-show="isLoadData">
            <i class="fa fa-refresh fa-spin"></i>
            <spam> &nbsp;&nbsp; Cargando....</spam>                                        
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tienda</th>
                        <th>Fecha de Intervención</th>
                        <th>Tendero</th>
                        <th style="text-align: center">Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="intervencion in ultimasintervenciones">
                        <td style="vertical-align: middle">{{intervencion.nombreTienda}}</td>
                        <td style="vertical-align: middle">{{intervencion.fechaIntervencion}}</td>
                        <td style="vertical-align: middle">{{intervencion.nombreCompletoTendero}}</td>
                        
                        <td style="text-align: center">
                            <img class="img-rounded"
                                 ng-src="view/imagen_tendero/{{intervencion.idTendero}}.jpg?random={{mirandom}}"
                                 err-src="view/imagen_tendero/default.jpg"
                                 ng-click="showModalDetalle(intervencion)"
                                 style="height: 45px;width: 45px;cursor: pointer">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <label class="label label-warning" ng-if="tenderos.length == 0">No existen Intervenciones</label>
            </div>
        </div>
    </div>
</div>
